        body{
            margin:2% 15% 15% 15%;
                width: 650px;
                height: 100%;
            }
        #wrapper{
            position: relative;


        }
        .container{
            background-color:#eaeffa;
            color:#193366;
            border: 1px solid #99b3ff;
            border-radius: 15px;
            padding:2%;
        }
        #madi{
            height: 75px;
            width:100%;
            border-radius: 2px;
            opacity: 0.8;
        }
        #comments{
            text-align: center;
            font-size: 150%;
            font-weight: bold;
            background-color:#193366;
            color:white;
            height: 50px;
            width: 650px;
            border-radius: 5px;
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
        .left {
            text-align: left;
        }
        nav ul{
            margin:0;
        }
        nav ul li{
            display:inline-block;
            list-style-type:none;
            float:right;
            background:#193366;;
            margin:1px;
            padding:5px 15px;
        }
        nav ul li a{
                color:white;
        }   
        a:link {
            text-decoration: none;
        }
        a:hover {
            color: hotpink;
        } 
        .but{
            background-color: #193366; 
            border: none;
            border-radius:5px;
            color: white;
            padding: 5px 200px 5px 200px ;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            box-shadow: 1px 1px 1px #99b3ff;
            width: 100%;
        }
        .but2{
            background-color: #193366; 
            border: none;
            color: white;
            padding: 10px 22px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            box-shadow: 1px 1px 1px #99b3ff;
        }  