body{
    margin:4% 20% 20% 20%;
    }

.container{
	background-color:#eaeffa;
	color:#193366;
	border: 1px solid #99b3ff;
	border-radius: 15px;
	padding:2%;
}

#madi{
	height: 75px;
	width:100%;
	border-radius: 2px;
	opacity: 0.8;
}

#comments{
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	background-color:#193366;
	color:white;
	height: 50px;
	width: 100%;
	border-radius: 5px;
}
nav ul{
	margin:0;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	float:right;
	background:black;
	margin:1px;
	padding:5px 15px;
}
nav ul li a{
		color:white;
	}