body{
	background-image: url("/ui/articleblur.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	
}

#wrapper{
	border: 0px solid black;
	margin: 0 auto;
	width: 850px;
    height: 100%;
    position: relative;	

}
#cooltxt{
	height: 95px;
	width: 100%;
	border-radius: 50px;
}
#container{
	background: linear-gradient(to bottom right, #fff,#adc2eb);
    border: 1px solid #99b3e6;
    color: #193366;
	margin: 0 auto;
	width: 700px;
    height: 100%;
    padding: 25px;	
    border-radius: 25px;

}

nav{
	float: right;
}

	nav ul li{
		display: block;
		position: relative;
		float: left;
	}     
	ul li ul{
		display: none;
	}
	ul li a {
		display: block;
		padding:5px 10px;
		margin: 1px;
		margin-right: 0px;
		background-color: #193366;
		color: white;
		text-decoration: none;
		border-radius: 1px;

		
	}
	ul li a:hover{
		background:#4775d1;
		color:black;
	}
	li:hover ul{
		display: block;
		position: absolute;
		margin-left: -40px;        		
	}
	li:hover li{
		width: 135px;
		text-align:center; 
	}
	li:hover a {
		background:#24478f;
		color:white;
	}
	li:hover li a:hover{
		background:#2e5cb8;
	}
.but{
    background-color: #193366; 
    border: 0;
    border-radius:15px;
    color: white;
    padding: 5px 200px 5px 200px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 1px 1px 1px #99b3ff;
    width: 100%;
}
