body{
	background-image: url("/ui/articleblur.png");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	margin-top: 5px;
}
#wrapper{
	margin: 0 auto;
	width: 800px;
	height: 100%;
	overflow:auto;
	background: linear-gradient(to bottom right, #fff,#d6e0f5);
	color: #193366;
	/*box-shadow: 2px 2px 2px #d6e0f5;
	border: 1px solid #d6e0f5;
	background-color:rgba(234, 239, 250,0.9);*/
	border-radius: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container{
	clear: both;
	padding-left:25px;
	padding-right:25px; 	
	border-top: 1px solid #193366;
	margin-top: 0;
}
#cooltxt{
	height: 100px;
	width: 435px;
	float:left;
	margin: 0;
}
nav{
	float: right;
}
	nav ul li{
		display: block;
		position: relative;
		float: left;
	}     
	ul li ul{
		display: none;
	}
	ul li a {
		display: block;
		padding:5px 10px;
		margin: 1px;
		margin-right: 0;
		margin-bottom: 0;
		background-color: #193366;
		color: white;
		text-decoration: none;		
	}
	ul li a:hover{
		background:#99b3e6;
		color:blue;
	}
	li:hover ul{
		display: block;
		position: absolute;
		margin-left: -40px;        		
	}
	li:hover li{
		width: 100%;
		text-align:left; 
	}
	li:hover a {
		background:#0f1f3d;
		color:white;
	}
	li:hover li a:hover{
		background:#99b3e6;
	}
strong{
	color:red;
}
.red{
    color:red;
}
.tright{
	text-align:right; 
}
.fleft{
	float:left; 
}
.fright{
	float:right; 
}
.italics{
	font-style: italic;
}
.oblique{
	font-style: oblique;
}
.firstp:first-letter{
	font-size: 200%;
	float: left;
	line-height: 1;
}
.but{	
	width: auto;
	margin-right: 10px;
	background-color:#142952;
	color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
   }

.commentbut{	
	width: 95%;
	margin-left: 10px;
	margin-right: 10px;
	background-color:#142952;
	color: white;
    padding: 10px 275px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
   }
#div3{
	width:375px;
	float:center;
	padding-left: 80px;
}
#div3 div{
	float:left;
	width: 375px;
	padding:5px;
}

#div3 label{
	float:left;
	width: 100px;
}
#div3 textarea, input:text{
	width: 150px;
	border-radius:3px;
    border:  1px solid #7094db;
}
input,textarea{
    background-color :#ebf0fa;
	border: 1px solid #adc2eb;
	border-radius:2px;
	}
#div3 input:focus, textarea:focus{
	background-color:#ebf0fa;

}

#div3{
    clear:both;
}
#div2{
    padding:50px;
    background-color:#ebf0fa;
}

#article_link{
	border: 0px solid white;
	float:right;
	margin: 0 0 15px 15px;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 1px;
	width: 130px

}
#article_link a{
	text-decoration:none;
}
#content{
	width: 700px;
	padding-right: 25px;
}
#content p{
	text-align:justify;
}
#myModalWindow{
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(10, 20, 41,0.9); /* Black w/ opacity */
}
#myModal{
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */    
    left: 33%;
    top: 20%;
    width: 375px;
    height: 350px;
    background-color: #fefefe;
    background: linear-gradient(to bottom right, #ffffff,#eaeffa);
    color: #142952;
    margin: 10px ; /* 15% from the top and centered */
    margin-right: 50px;
    padding: 10px;
    padding-top: 3px;
    border: 1px solid #888;     
    overflow: auto;/* Could be more or less, depending on screen size */
    box-shadow: 2px 2px 2px #0a1429;
    
}

#x{
    color: #aaa;
    }
#x:hover,
#x:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#xp{
	text-align:right;
}

.divmodal {
    width: 325px;
    height: 250px;
    margin-left: 20px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 10px;
    clear: both;
    display: none;
    overflow: hidden;   
}
.divmodal div{    
    width: 75%;
    padding:5px;
}
.divmodal label{
    float:left;
    width: 100px;
}
.divmodal textarea, input:text{
    width: 150px;
    border-radius:3px;
    border:  1px solid #7094db;
}
input,textarea{
    background-color :#ebf0fa;
    border: 1px solid #adc2eb;
    border-radius:2px;
    }
.divmodal input:focus, textarea:focus{
    background-color:#ebf0fa;
}
.butm{
    background-color: #193366; 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 1px 1px 1px #99b3ff;
}
#slogIN{
    color:green;
}
#ssignUP{
    color: red;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}