body{
	background-image: url("/ui/articleblur.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#wrapper{
	border: 0;
	margin: 0 auto;
	width: 850px;
    height: 100%;
    position: relative;	
}
#cooltxt{
	height: 95px;
	width: 100%;
	border-radius: 50px;
}
#container{    
    background-color: rgba(235, 240, 250,0.9);
	/*background: linear-gradient(to bottom right, #fff,#ebf0fa);*/
    border: 1px solid #142952;
    color: #142952;
	margin: 0 auto;
	width: 740px;
    height: 100%;
    padding: 50px;	
    border-radius: 25px;

}

nav{
	float: right;
}

	nav ul li{
		display: block;
		position: relative;
		float: left;
	}     
	ul li ul{
		display: none;
	}
	ul li a {
		display: block;
		padding:5px 10px;
		margin: 1px;
		margin-right: 0px;
		background-color: #193366;
		color: white;
		text-decoration: none;
		border-radius: 1px;

		
	}
	ul li a:hover{
		background:#4775d1;
		color:black;
	}
	li:hover ul{
		display: block;
		position: absolute;
		margin-left: -40px;        		
	}
	li:hover li{
		width: 135px;
		text-align:center; 
	}
	li:hover a {
		background:#24478f;
		color:white;
	}
	li:hover li a:hover{
		background:#2e5cb8;
	}
.but{
    background-color: #193366; 
    border: none;
    border-radius:3px;
    color: white;
    padding: 5px 200px 5px 200px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 100%;
}
.but2{
    background-color: #193366; 
    border: none;
    border-radius:0px;
    color: white;
    padding: 5px 5px 5px 5px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
strong{
    color:red;
}
#date{
    text-align:right;
    font-style: italic;
}
#div3{
	width:375px;
	float: right;
}
#div3 div{
	float:left;
	width: 375px;
	padding:5px;
}

#div3 label{
	float:left;
	width: 100px;
}
#div3 textarea, input{
	width: 250px;
}
#div3 input:focus, textarea:focus{
	background-color:#ebf0fa;

}

#p1{
	text-align: right;
 		color: red;
}
#p3{
	font-style: italic;
}
#p0,#p1,#p2{
	clear: both;
}