body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #ffffff,#9ab3e5);
    color:#193366;
    padding:0px;
    margin:2% 10% 10% 10%;
    border: 1px solid #99b3ff;
}
/*#bd {background-color:hsla(290,60%,70%,0.3);}*/
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.float {
	float :left;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.main_img {
   height: 150px;
   opacity: 0.8;
}

.madi_png{
    opacity: 0.5;
    height:100%;
    width:100%;
   
}
.but{
    background-color: #193366; 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 1px 1px 1px #99b3ff;
}


#main1{
	border-style: solid;
    border-width: 1px;
	border-color:#99b3ff;
	margin-top: 10% ;
	margin-left:7%;
	margin-right:30%;
	background-color:#eaeffa;
	padding: 15px 15px 15px 15px;
    box-shadow: 1px 1px 1px #99b3ff;
}

/*#cooltext{}*/
#comment_box{
	border-style: solid;
    border-width: 1px;
    border-color:#99b3ff;
	background-color:#eaeffa;
	position:absolute;
	top: 25%;
	left:70%;
	margin-right:5%;
	height: 300px;
	width: 170px;
	padding: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px #99b3ff;
}

#madi{
    position:absolute;
    top: 5%;
    left:73%;

}

#cooltext{
 height: 100px;
 width:74%;
 box-shadow: 1px 1px 1px #99b3ff;
}


nav ul{
	margin:0;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	float:right;
	background:black;
	margin:1px;
	padding:5px 15px;
}
nav ul li a{
		color:white;
	}







