body {
    font-family: sans-serif;
    background-color:  white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.fstyle{
    font-style: italic;
    color:#505354;
}

.img-medium {
    height: 200px;
    box-shadow : 2px 2px 2px #99A1A3;
}

#imgid{
    position:absolute;
    top :50px;
    left:50px;
}

#divid{
    position:absolute;
    top :50px;
    left:300px;
    padding-right: 30px;
}

#lineid{
  position:absolute;
  top :45px;
  left:270px;
}
#line1{
  height:600px;
  width:15px;

}
