body{
	margin: 0;
	padding: 0;
	background-image: url("/ui/mainbgblur.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
#wrapper{ 
    position: relative;
    width: 800px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 0;
	padding-bottom: 0;
	background: linear-gradient(to bottom right, rgba(255, 255, 255,0.9),rgba(31, 61, 122,0.8));
	overflow: auto;
	color: #142952;
	border: 1px solid #050a14;
}
#main{
    background: linear-gradient(to bottom right, #fff,rgb(214, 224, 245));
	border: 1px solid #7094db;
	border-bottom: 3px solid #142952;
	margin-left:80px;
	padding: 15px;
	padding-right:2px;
	width: 500px;
	height: 100%;
	overflow: auto;
}

#container{
}
#cooltxt{
	height: 100px;
	width: 635px;
}
#madi{
	position: absolute;
	top:2px;
	right:20px;
}
#madi_img{
	width: 120px;
	height: 140px;
}
hr{
	margin: 10px;
}
nav{
	float: right;
}
	nav ul li{
		display: block;
		position: relative;
		float: left;
	}     
	ul li ul{
		display: none;
	}
	ul li a {
		display: block;
		padding:5px 10px;
		margin: 1px;
		margin-right: 0px;
		background-color:#1f3d7a;
		color: white;
		text-decoration: none;
	}
	ul li a:hover{
		background:#7094db;
		color:blue;
	}
	li:hover ul{
		display: block;
		position: absolute;
		margin-left: -40px; 
		margin-bottom: 0px;
	}
	li:hover li{
		width: 100%;
		text-align:left; 
	}
	li:hover a {
		background:#0f1f3d;
		color:white;
	}
	li:hover li a:hover{
		background:#7094db;
	}

#nesh_img{
	width:85px;
	height: 100px;
}

#pcomments{
	text-align:right;
}
#div3{
	width:375px;
	float:left;
	padding-left: 80px;
}
#div3 div{
	float:left;
	width: 375px;
	padding:5px;
}

#div3 label{
	float:left;
	width: 100px;
}
#div3 textarea, input:text{
	width: 150px;
	border-radius:3px;
    border:  1px solid #7094db;
}
input{
    background-color :#ebf0fa;
	border: 2px solid #adc2eb;
	border-radius:2px;
	}
#div3 input:focus, textarea:focus{
	background-color:#ebf0fa;

}

#slogIN{
    color:green;
}
#ssignUP{
    color: red;
}
.but{
	
	width: auto;
	margin-right: 10px;
	background-color:#142952;
	color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
   }
#logbut,#signbut{
    color:#ffffe6;
}
.left{
    float:left;
}
.right{
    float:right;  
}
.bold{
	font-weight: bold;
}
